.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.app-header {
  text-align: center;
  padding: 10px;
        background-color:lightblue;
        color: white;
        width: 100%;
  max-width: 100%;
}

.input-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.task-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: none;
  border-right: 1px solid lightgray;
}

.add-task-btn {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: lightblue;
  color: white;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(184, 199, 203);
  border-radius: 5px;
  font-size: 16px;
}

.delete-task-btn {
  background-color: rgb(231, 24, 24);
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}